<a href="https://colab.research.google.com/github/danieljunioralves/Formulario-/blob/main/C%C3%B3pia_de_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# exercicio 1

In [ ]:
print('Olá Mundo')

Olá Mundo

In [ ]:
import cv2
from google.colab.patches import cv2_imshow

# exercicio 2


Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de
ticket médio abaixo:

A

In [ ]:
svv_19 = 3
sqv_19 =320.52  
tkt_19 = svv_19 * sqv_19
print(tkt_19)

961.56

B

In [ ]:
svv_20 = 834.47
sqv_20 =119.21
tkt_20 = svv_20 /sqv_20
print(tkt_20)

7.000000000000001

C

In [ ]:
svv_23 =15378.12
sqv_23 = 5
tkt_23 =svv_23 / sqv_23
print(tkt_23)

3075.6240000000003

# exercicio 3
Aplique três métodos distintos na string abaixo, você pode conferir alguns métodos neste

In [ ]:
cancao = 'Roda mundo, Roda gigante , Roda moinha , Roda pião'

In [ ]:
print(cancao.upper())

RODA MUNDO, RODA GIGANTE , RODA MOINHA , RODA PIÃO

In [ ]:
print(cancao.find('pião'))

46

In [ ]:
print(cancao.replace('roda','rd'))

Roda mundo, Roda gigante , Roda moinha , Roda pião

Extraia da string abaixo o valor da taxa selic na variável selic e o valor do ano na
variavel ano . Imprima os valores na tela

In [ ]:
noticia = 'selic vai a 2,75% e supera a expectativa; é a primeira alta em 6 anos'

In [ ]:
posicao_valor_selic = noticia.find("2")
selic = noticia [posicao_valor_selic:posicao_valor_selic+5]
print(selic)

2,75%

In [ ]:
posicao_valor_ano = noticia.find("anos")
ano = noticia [posicao_valor_ano-3:posicao_valor_ano]
print(ano)

 6

# Exercicio 4
Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b
print(x)

True

In [ ]:
print (True & True)
print (True & False)
print (False & False)
print (False & True)

True
False
False
False

In [ ]:
print (a & b)

False

In [ ]:
print(not a & b)

True